*{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
.top{
	width: 100%;
	padding-bottom: 20px;
	border-bottom:1px solid #ccc ;
}
.top-box{
	width: 70%;
	margin: 0 auto;
	text-align: center;
}
.top .top-box>img{
	width: 200px;
}
.box .bg {
	position: relative;
}
.bg>img{
	width: 100%;
}
.box .bg .dl{
	padding: 45px 60px 50px;
	width: 480px;
	height: 592px;
	background-color: rgba(255,255,255,.5);
	margin: 0px auto;
	position: absolute;
	top:0px;
	left:50%;
	
	
}
.bg .dl>h3{
	font-weight: 500;
	text-align: center;
	margin-bottom: 30px;
}
.zhuce{
}
.zhuce>ul{
	width: 70%;
	text-align: center;
	border-bottom: 1px solid #ccc;
	margin: 0px auto;
	
}
.zhuce>ul:after{
	content: "";
	display: block;
	clear: both;
}
.zhuce>ul>li{
	float: left;
	margin: 0px 20px;
	padding-bottom:10px ;
	/* border-bottom: 2px solid #000; */
}
.zhuce-box{
	width: 70%;
	margin: 0 auto;
	margin-top: 20px;
}
.zhuce-box>div{
	margin-top: 20px;
}
.zhuce-box .phone{
	width: 100%;
	height: 30px;
}
.yanzheng-box{
	line-height: 30px;
	position: relative;
}
.zhuce-box .yanzhengma{
	width: 70%;
	height: 30px;
}
.yanzheng-img{
	width: 20%;
	height: 30px;
	line-height: 30px;
	float: right;
	background-color: #fff;
	font-size: 20px;
	text-decoration: line-through;
	cursor: pointer;
}
.refresh{
	font-size: 12px;
	color: #888;
	text-decoration: underline;
	position: absolute;
	top:27px;
	right: 0px;
}

.fasong-box{
	position: relative;
}
.fasong-box .yanzhengma1{
	width: 100%;
	height: 30px;
}
.fasong-box #fasongtrue{
	position: absolute;
	top:34px;
	font-size: 12px;
}
.fsyzm{
	width: 30%;
	height: 34px;
	border:1px solid #ccc;
	background-color: #fff;
	position: absolute;
	right: -3px;
	top:0px;
}
.tongyi-box>input{
	width: 20px;
	height: 20px;
	background-color: #FFF;
}
.tongyi-box .tiaoli,.zhnegce{
	text-decoration: underline;
}
.go{
	width: 100%;
	height: 50px;
	position: relative;
}
.go>button{
	width: 100%;
	height: 50px;
	background-color: #000000;
	color: #fff;
}
.go #denglu1true{
	position: absolute;
	top:49px;
	left: 30%;
	font-size: 12px;
}
.shafang{
	width: 70%;
	height: 70px;
	margin: 25px auto;
	border-top:1px solid #ccc ;
	position: relative;
}
.shafang>ul{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
	
}
.shafang>ul>li{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 1px solid #808080;
	text-align: center;
	line-height: 40px;
	margin-top: 25px;
}
.shafang>ul>li>.iconfont{
	font-size: 20px;
	color: #808080;
}
.shafang>p{
	position: absolute;
	top:0px;
	left: 25%;
	color: #808080;
}

.denglu-box{
	width: 70%;
	margin: 0 auto;
}
.denglu-box>div{
	margin-top: 20px;
}
.phone-box .phone{
	width: 100%;
	height: 30px;
}
.pass-box{
	position: relative;
}
.pass-box .pass{
	width: 100%;
	height: 30px;
}
.jizhu{
	height: 30px;
	float: left;
}
.jizhu:after{
	content: "";
	display: block;
	clear: both;
}
.jizhu input{
	float: left;
	width: 20px;
	height: 20px;
}
.jizhu p{
	margin-left: 10px;
	float: left;
	font-size: 14px;
}
.wangji {
	float: right;
}
.wangji a{
	color: #000000;
}
.rem::after{
	content: "";
	display: block;
	clear: both;
}
.go2{
	width: 100%;
	height: 50px;
	position: relative;
}
.go2>button{
	width: 100%;
	height: 50px;
	background-color: #000000;
	color: #fff;
}
.go2 #denglu2true{
	position: absolute;
	top:49px;
	left: 30%;
	font-size: 12px;
}
.dl>p>a{
	text-decoration: none;
	font-size: 20px;
}
.see{
	position: absolute;
	right: 0px;
	top:20%;
}
.see a{
	color: #808080;
	text-decoration: none;
	
}
.phon-box{
	position: relative;
}
.phon-box #Teltrue{
	position: absolute;
	font-size: 12px;
}
.yanzheng-box{
	position: relative;
}
.yanzheng-box #yanzhengmatrue{
	position: absolute;
	font-size: 12px;
	bottom: -26px;
}
.phone-box{
	position: relative;
}
.phone-box #dlphonetrue{
	position: absolute;
	font-size: 12px;
	bottom: -18px;
}

